.main-footer {
  display: flex;
  flex-direction: column;
  background: var(--Grey, #353535);
  .footer {
    padding: 22px 25px;
    gap: 16px;
    .footer-title {
      height: 27px;
      padding-right: 1.418px;
      align-items: center;
      h3 {
        color: var(--White, #fff);
        font-family: "Shrikhand";
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
    .footer-section {
      .footer-lign {
        height: 30px;
        .footer-link {
          align-items: center;
          text-decoration: none;
          color: white;
          gap: 5px;
        }
      }
    }
  }
}
