.like i {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(#9356dc, #ff79da);
  font-size: 25px;
  background-color: white;
}

