.like i {
  font-weight: 500;
  font-size: 25px;
  animation: fadeOut 2s;
}

.like i:hover {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(#9356dc, #ff79da);
  background-clip: text;
  font-weight: 900;
  animation: fadeIn 2s;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeOut {
  100% {opacity: 1;}
  0% {opacity: 0;}
}