.like i {
  font-size: 25px;
}

.like .empty {
  opacity: 1;
  font-size: 24px;
}

.like .full {
  position: relative;
  font-size: 26px;
  opacity: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(#9356dc, #ff79da);
  background-clip: text;
  transition-duration: 1s;
  left: 29px;
  top: 1.26px;
  &:hover {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(#9356dc, #ff79da);
    background-clip: text;
    transition-duration: 1s;
    opacity: 1;
  }
}
