.btn-explore {
  display: flex;
  justify-content: center;
  margin-top: 27px;
  margin-bottom: 50px;
}

.btn-resto {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: none;
  height: 50px;
  border-radius: 25px;
  background: var(--Button-Gradient, linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%));
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  padding: 18px;
  transition-duration: 1s;
}

.btn-resto .btn-title {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.btn-resto:hover {
  opacity: 0.8;
  box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.like i {
  font-size: 25px;
}

.like .empty {
  opacity: 1;
  font-size: 24px;
}

.like .full {
  position: relative;
  font-size: 26px;
  opacity: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(#9356dc, #ff79da);
  background-clip: text;
  transition-duration: 1s;
  left: 29px;
  top: 1.26px;
}
.like .full:hover {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(#9356dc, #ff79da);
  background-clip: text;
  transition-duration: 1s;
  opacity: 1;
  cursor: pointer;
}

.main-container {
  display: flex;
  flex-direction: column;
}

.main-footer {
  display: flex;
  flex-direction: column;
  background: var(--Grey, #353535);
}

.footer {
  display: flex;
  flex-direction: column;
  padding: 22px 25px;
  gap: 16px;
}

.footer-title {
  display: flex;
  height: 27px;
  padding-right: 1.418px;
  align-items: center;
}
.footer-title h3 {
  color: var(--White, #fff);
  font-family: "Shrikhand";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer-section {
  display: flex;
  flex-direction: column;
}

.footer-lign {
  display: flex;
  height: 30px;
}

.footer-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  gap: 5px;
}

.global {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #f6f6f6;
}

.explore {
  display: flex;
  height: auto;
  background-color: #f6f6f6;
}

.explore .section-title {
  display: flex;
  text-align: center;
  font-size: 24px;
}

.explore p {
  display: flex;
  text-align: center;
  margin-top: 0px;
}

.header {
  display: flex;
  flex-direction: column;
  z-index: 0;
}

.header-logo {
  display: flex;
  height: 63px;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  z-index: 0;
}

.logo {
  display: flex;
  height: 36px;
  justify-content: center;
}

.location {
  display: flex;
  justify-content: center;
  height: 50px;
  background-color: var(--Grey-2, #eaeaea);
  padding-left: 40px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.icon {
  display: flex;
  align-items: center;
}

.location-text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: var(--Grey, #353535);
}
.location-text input {
  border: none;
  font-size: 18px;
  width: 70%;
  background-color: var(--Grey-2, #eaeaea);
}

::placeholder {
  color: black;
}

.function {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-bottom: 6rem;
  background-color: white;
}
.function .section-title {
  justify-content: flex-start;
  margin-left: 30px;
  margin-top: 48px;
}

.function-list {
  display: flex;
  justify-content: center;
}

.function-list ol {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: row wrap;
  gap: 25px;
  margin: 0;
  padding: 26px 12px 0px 12px;
}

.function-list ol li {
  display: flex;
  justify-content: flex-start;
  position: relative;
  align-items: center;
  gap: 20px;
  flex-basis: 80%;
  padding: 29px 38px 28px 0px;
  background: #f6f6f6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
  border-radius: 20px;
  font-family: "roboto";
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: #000;
}

.function-list .number {
  display: flex;
  position: relative;
  justify-content: center;
  background-color: #9356dc;
  border-radius: 50%;
  width: 30px;
  height: 22px;
  padding-top: 7px;
  color: white;
  right: 1rem;
}

body {
  margin: 0;
}

.header-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-logo {
  box-shadow: none;
}

.return {
  display: flex;
  align-items: center;
  position: absolute;
  left: 2rem;
}

.return i {
  font-size: 25px;
  color: #000;
}

.image-resto {
  display: block;
  object-fit: cover;
}

.image-resto img {
  object-fit: cover;
  height: 275px;
  width: 100%;
}

.global {
  margin-top: -40px;
  border-radius: 2rem 2rem 0 0;
  z-index: 2;
}

.restaurant-title {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-left: 1rem;
}

.like {
  display: flex;
  align-items: center;
}

.restaurant-title .section-title {
  font-size: 28px;
  font-family: "Shrikhand";
  font-weight: 400;
}

.menu {
  display: flex;
  flex-direction: column;
  border-radius: 25px;
}

.menu-card {
  gap: 40px;
  display: flex;
  flex-direction: column;
}

.choice {
  display: flex;
  flex-direction: column;
  width: 90%;
  align-self: center;
}
.choice .choice-1 {
  animation: appear 1.5s;
  animation-fill-mode: forwards;
}
.choice .choice-2 {
  animation: appear 2.5s;
  animation-fill-mode: forwards;
}
.choice .choice-3 {
  animation: appear 3.5s;
  animation-fill-mode: forwards;
}

@keyframes appear {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.choice .title {
  display: flex;
  margin-top: 2rem;
  margin-bottom: -2rem;
}

.choice .title h3 {
  color: #000;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
  position: relative;
  bottom: 35px;
}

.line {
  border-top: 3px solid #99e2d0;
  width: 40px;
  position: absolute;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}

.card-content {
  display: flex;
  width: 100%;
  border-radius: 15px;
  align-items: center;
  height: 69px;
  overflow: hidden;
  box-shadow: 0px 4.011px 15.043px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.card-content:hover .item-check {
  margin-right: 0px;
  opacity: 1;
}

.card-content .list-title {
  margin: 0px;
  align-self: stretch;
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
}

.description {
  display: flex;
  align-self: stretch;
  justify-content: space-between;
}

.description p {
  margin: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
}

.price {
  display: block;
  right: 1em;
  font-weight: bold;
}

.btn-resto {
  width: 186px;
}

.btn-explore {
  margin: 0px;
  padding-top: 40px;
  padding-bottom: 40px;
  background: #f6f6f6;
}

@media (min-width: 769px) {
  .global {
    width: 70%;
    align-self: center;
  }
}
.price-check {
  display: flex;
  align-self: flex-end;
}

.item-check {
  display: flex;
  margin-right: -60px;
  transition-duration: 1s;
  margin-right: -60px;
  opacity: 0;
}

.text-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 15px;
  overflow: hidden;
}

.name-container {
  overflow: hidden;
  text-overflow: ellipsis;
}

.like .empty {
  margin-left: 4px;
}

@media (min-width: 769px) {
  .restaurant-title {
    justify-content: center;
  }
  .restaurants .restaurant-title {
    margin-top: 30px;
    margin-left: 130px;
  }
  .btn-explore {
    margin-left: 15%;
    margin-right: 15%;
  }
  .footer {
    flex-direction: row;
    gap: 40px;
    justify-content: flex-end;
    padding-top: 30px;
  }
  .footer-title {
    order: 1;
    margin-left: 40px;
  }
  .footer-section {
    gap: 40px;
    flex-direction: row;
  }
}
@media (min-width: 1024px) {
  .header-logo {
    box-shadow: none;
  }
  .location {
    box-shadow: none;
  }
  .function {
    display: flex;
    flex-direction: column;
  }
  .function .section-title {
    margin-left: 130px;
  }
  .function-list ol {
    display: grid;
    justify-content: center;
    gap: 40px;
    margin: 0;
    padding: 26px 12px 0px 12px;
    height: 30px;
    align-content: center;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .restaurant-cards {
    display: grid;
    justify-content: center;
    gap: 50px;
    grid-template-columns: 1fr 1fr;
    margin-left: 100px;
    margin-right: 100px;
  }
}
* {
  font-family: "roboto";
}

.card-content {
  background-color: white;
  border-radius: 20px 20px 20px 20px;
}

/*# sourceMappingURL=style.css.map */
