body {
  margin: 0;
}

.header-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-logo {
  box-shadow: none;
}

.return {
  display: flex;
  align-items: center;
  position: absolute;
  left: 2rem;
}

.return i {
  font-size: 25px;
  color: #000;
}

.image-resto {
  display: block;
  object-fit: cover;
}

.image-resto img {
  object-fit: cover;
  height: 275px;
  width: 100%;
}

.global {
  margin-top: -40px;
  border-radius: 2rem 2rem 0 0;
  z-index: 2;
}

.restaurant-title {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-left: 1rem;
}

.like {
  display: flex;
  align-items: center;
}

.restaurant-title .section-title {
  font-size: 28px;
  font-family: "Shrikhand";
}

.menu {
  display: flex;
  flex-direction: column;
  border-radius: 25px;
}

.menu-card {
  gap: 40px;
  display: flex;
  flex-direction: column;
}

.choice {
  display: flex;
  flex-direction: column;
  width: 90%;
  align-self: center;
  .choice-1 {
    animation: appear 1.5s;
    animation-fill-mode: forwards;
  }

  .choice-2 {
    animation: appear 2.5s;
    animation-fill-mode: forwards;
  }

  .choice-3 {
    animation: appear 3.5s;
    animation-fill-mode: forwards;
  }
}

@keyframes appear {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.choice .title {
  display: flex;
  margin-top: 2rem;
  margin-bottom: -2rem;
}

.choice .title h3 {
  color: #000;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
  position: relative;
  bottom: 35px;
}

.line {
  border-top: 3px solid #99e2d0;
  width: 40px;
  position: absolute;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}

.card-content {
  display: flex;

  width: 100%;

  border-radius: 15px;
  align-items: center;

  height: 69px;
  overflow: hidden;
}

.card-content .list-title {
  margin: 0px;
  align-self: stretch;
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
}

.description {
  display: flex;
  align-self: stretch;
  justify-content: space-between;
}

.description p {
  margin: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
}

.price {
  display: block;
  right: 1em;
  font-weight: bold;
}

.btn-explore {
  margin: 0px;
  padding-top: 40px;
  padding-bottom: 40px;
  background: #f6f6f6;
}

@media (min-width: 769px) {
  .global {
    width: 70%;
    align-self: center;
  }
}

.price-check {
  display: flex;
  align-self: flex-end;
}

.item-check {
  display: flex;
  margin-right: -60px;
  transition-duration: 1s;
  margin-right: -60px;
  opacity: 0;
}

.card-content:hover {
  .item-check {
    margin-right: 0px;
    opacity: 1;
  }
}

.text-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 15px;
  overflow: hidden;
}

.name-container {
  overflow: hidden;
  text-overflow: ellipsis;
}

.like .empty {
  margin-left: 4px;
}
