@media (min-width: 769px) {
  .header-logo {
    box-shadow: none;
  }

  .location {
    box-shadow: none;
  }

  .restaurant-title {
    justify-content: center;
  }
  .restaurants .restaurant-title {
    margin-top: 30px;
    margin-left: 130px;
  }
  
  .btn-explore {
    margin-left: 15%;
    margin-right: 15%;
  }
  .footer {
    flex-direction: row;
    gap: 40px;
    justify-content: flex-end;
    padding: 30px 25px;
  }

  .footer-title {
    order: 1;
    margin-left: 40px;
  }

  .footer-section {
    gap: 40px;
    flex-direction: row;
  }
}

@media (min-width: 1024px) {
  .function {
    display: flex;
    flex-direction: column;
  }
  .function .section-title {
    margin-left: 130px;
  }
  .function-list ol {
    display: grid;
    justify-content: center;
    gap: 40px;
    margin: 0;
    padding: 26px 12px 0px 12px;
    height: 30px;
    align-content: center;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .restaurant-cards {
    display: grid;
    justify-content: center;
    gap: 50px;
    grid-template-columns: 1fr 1fr;
    margin-left: 100px;
    margin-right: 100px;
  }

}
